  /* for buttons */
  .button{
    text-align:center;
    border:white;
    border-radius:5px;
    font-size:30px;
    box-shadow: 10px 10px 10px #aaaaaa;
}
/* login pages */
.login_box {
    width: 500px;
    padding: 10px 30px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 10px #aaaaaa;
    border-radius:10px;
    position : absolute;
    left : 500px;
    top:200px;
}
input[type=text], input[type=password],select,input[type=date],input[type=email] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:10px;
}
input[type=submit]{
    background-color: #00802b;
    color: white;
    padding: 8px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius:10px;                    
}
label{
    text-align : left;
    font-size:18px;
}
.form {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}